<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<link href="/src/styles.css" rel="stylesheet"/>
<link href="/src/banner.css" rel="stylesheet"/>

<div class="container">
  
  <div class="block block--gov-accessibility position-inherit">
    <div class="block-options navbar-expanded">
      <a class="contrast-ref">
        <span class="govco-icon govco-icon-contrast-n"></span>
        <label> Contraste </label>
      </a>
      <a class="min-fontsize">
        <span class="govco-icon govco-icon-less-size-n"></span>
        <label class="align-middle"> Reducir letra </label>
      </a>
      <a class="max-fontsize">
        <span class="govco-icon govco-icon-more-size-n"></span>
        <label class="align-middle"> Aumentar letra </label>
      </a>
    </div>
  </div>
  <div >
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb gov-co-breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Inicio > </a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Trámites y Servicios > </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Consulta CIIU</li>
      </ol>
    </nav>
  <h1 _ngcontent-yiv-c5="" style="font-size: 32px;">Consulta de trámites por <br _ngcontent-yiv-c5=""
      style="font-size: 15px;"> actividad económica - CIIU</h1>
  <p _ngcontent-yiv-c5="" style="font-size: 20px;"> Esta consulta le permite identificar los trámites asociados a la
    actividad económica CIIU de su empresa o emprendimiento. </p>
  </div>
<br>
<div _ngcontent-lgf-c6="" class="col-12 col-sm-12 col-md-12"><p _ngcontent-lgf-c6="" class="aviso-ciiu" style="font-size: 12px!important;"> La información del códigos CIIU está siendo cargada de la manera gradual por lo que estará disponible inicialmente para los muncipios que se vengan incorporando.</p></div>
<br>
    <table border="0">
      <thead>
        <tr>
          <th scope="col">  
            <div>
            <label for="selectFilter">Departamento</label>
            <br>
            <select class="form-control  select-chosen" [(ngModel)]="opcionSeleccionado" (change)="capturar()">
              <option value="0">Selecciona una opción</option>
              <option *ngFor="let departamento of departamentos">
                {{departamento.depNombre}}
              </option>
            </select>
            </div>
          </th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <th scope="col"> 
            <div>
            <label for="selectFilter">Municipio</label>
            <br>
            <select class="form-control  select-chosen">
              <option value="0">Selecciona una opción</option>
              <option *ngFor="let municipio of municipios">
                {{municipio.munNombre}}
              </option>
            </select>
            </div>
          </th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <th scope="col"> 
            <div>
            <label for="selectFilter">Busca actividad económica</label>
            <div class="nav-item-primary">
              <div class="form-inline form-search-bar my-2 my-lg-0">
                <input class="form-control mr-sm-2 search-navbar">
                <span class="govco-icon govco-icon-search-n"></span>
              </div>
            </div>
          </div>
          </th>
        </tr>
      </thead>
    </table>
 <br>
 <div class="form-group gov-co-form-group head-table-dropdown" style="width: 100px; float: right;">
  <div class="gov-co-dropdown">
     <label for="selector-simple">Resultados_pág.</label>
     <select id="selector-simple" class="form-control select-chosen" title="Escoger">
        <option>10</option>
        <option>20</option>
        <option>40</option>
        <option>50</option>
        <option>100</option>
     </select>
  </div>
</div>
 <br>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nombre de la actividad</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tramite of tramites">
        <td>{{tramite.codigo}}</td>
        <td>{{tramite.actividad}}</td>
        <td><a href="#">VER NOTA</a></td>
        <td><a href="#">VER TRÁMITES</a></td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Anterior</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Siguiente</a>
      </li>
    </ul>
  </nav>

</div>
<div class="page-header clear-filter page-header-hidden"></div>